<div class="container">
    <div class="card" id="dashboard">
        <div class="mb-3">
            <div class="input-group">
                <input type="text" id="city-input" class="form-control" placeholder="Enter city name" spellcheck="false">
                <button class="btn btn-primary" id="search-btn" type="button">Search</button>
            </div>
        </div>
        <div class="error" id="error-msg" style="display: none;">
            <p>Invalid city name</p>
        </div>
        <div class="weather text-center" id="weather-info">
            <img id="weather-icon" src="/img/<%= weatherData.weather[0].main.toLowerCase() %>.png" class="weather-icon">
            <h1 id="temp" class="temp"><%= weatherData.main.temp %>°C</h1>
            <h2 id="city-name" class="city"><%= weatherData.name %>, <%= weatherData.sys.country %></h2>
            <div class="row details">
                <div class="col-6 d-flex align-items-center">
                    <img src="/img/humidity.png" alt="Humidity">
                    <div class="ms-2">
                        <p id="humidity" class="humidity mb-0"><%= weatherData.main.humidity %>%</p>
                        <p class="mb-0">Humidity</p>
                    </div>
                </div>
                <div class="col-6 d-flex align-items-center">
                    <img src="/img/wind.png" alt="Wind Speed">
                    <div class="ms-2">
                        <p id="wind-speed" class="wind mb-0"><%= weatherData.wind.speed %> km/h</p>
                        <p class="mb-0">Wind Speed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>